- content_for :main do
  %h1
    Sample Header
  %p
    This is sample text, just to show what a typical page of text might look like.
  %p
    This is sample text, just to show what a typical page of text might look like.
  %p
    This is sample text, just to show what a typical page of text might look like.
  %p
    This is sample text, just to show what a typical page of text might look like.
  %p
    This is sample text, just to show what a typical page of text might look like.
  %p
    This is sample text, just to show what a typical page of text might look like.
