- content_for :header do
  This is the header text

- content_for :nav1 do
  %ul
    %li
      Nav1.A
    %li
      Nav1.B
    %li
      Nav1.C

- content_for :nav2 do
  %ul
    %li
      Nav2.A
    %li
      Nav2.B
    %li
      Nav2.C

- content_for :main do
  This is the main text

- content_for :footer do
  This is the footer text
